In [13]:
import pandas as pd
import json

In [14]:
with open('taylor_swift_spotify.json', 'r') as file:
    data = json.load(file)

df1 = pd.json_normalize(data=data, record_path=['albums', 'tracks'], 
                        meta=['artist_id', 'artist_name', 'artist_popularity',
                             ['albums', 'album_id'], ['albums', 'album_name'],
                             ['albums', 'album_release_date'], ['albums', 'album_total_tracks']])

In [15]:
df1.rename(inplace=True,
           columns={"albums.album_id": "album_id",
                    "albums.album_name": "album_name",
                    "albums.album_release_date": "album_release_date",
                    "albums.album_total_tracks": "album_total_tracks"})

In [16]:
list(df1.columns)

['disc_number',
 'duration_ms',
 'explicit',
 'track_number',
 'track_popularity',
 'track_id',
 'track_name',
 'audio_features.danceability',
 'audio_features.energy',
 'audio_features.key',
 'audio_features.loudness',
 'audio_features.mode',
 'audio_features.speechiness',
 'audio_features.acousticness',
 'audio_features.instrumentalness',
 'audio_features.liveness',
 'audio_features.valence',
 'audio_features.tempo',
 'audio_features.id',
 'audio_features.time_signature',
 'artist_id',
 'artist_name',
 'artist_popularity',
 'album_id',
 'album_name',
 'album_release_date',
 'album_total_tracks']

In [17]:
df1.to_csv('data_prueba.csv', index=False)

In [18]:
df2 = pd.read_csv('dataset.csv')
list(df2.columns)

['disc_number',
 'duration_ms',
 'explicit',
 'track_number',
 'track_popularity',
 'track_id',
 'track_name',
 'audio_features.danceability',
 'audio_features.energy',
 'audio_features.key',
 'audio_features.loudness',
 'audio_features.mode',
 'audio_features.speechiness',
 'audio_features.acousticness',
 'audio_features.instrumentalness',
 'audio_features.liveness',
 'audio_features.valence',
 'audio_features.tempo',
 'audio_features.id',
 'audio_features.time_signature',
 'artist_id',
 'artist_name',
 'artist_popularity',
 'album_id',
 'album_name',
 'album_release_date',
 'album_total_tracks']

In [19]:
df1.compare(df2)

    explicit        track_id       track_name        \
        self  other     self other       self other
0      False  False      NaN   NaN        NaN   NaN
1      False  False      NaN   NaN        NaN   NaN
2      False  False      NaN   NaN        NaN   NaN
3      False  False      NaN   NaN        NaN   NaN
4      False  False      NaN   NaN        NaN   NaN
..       ...    ...      ...   ...        ...   ...
534    False  False      NaN   NaN        NaN   NaN
535    False  False      NaN   NaN        NaN   NaN
536    False  False      NaN   NaN        NaN   NaN
537    False  False      NaN   NaN        NaN   NaN
538    False  False      NaN   NaN        NaN   NaN

    audio_features.danceability       audio_features.acousticness        \
                           self other                        self other
0                           NaN   NaN                         NaN   NaN
1                           NaN   NaN                         NaN   NaN
2                           NaN   NaN                         NaN   NaN
3                           NaN   NaN                         NaN   NaN
4                           NaN   NaN                         NaN   NaN
..                          ...   ...                         ...   ...
534                         NaN   NaN                         NaN   NaN
535                         NaN   NaN                         NaN   NaN
536                         NaN   NaN                         NaN   NaN
537                         NaN   NaN                         NaN   NaN
538                         NaN   NaN                         NaN   NaN

    audio_features.instrumentalness           audio_features.tempo        \
                               self     other                 self other
0                          0.000037  3.66e-05                  NaN   NaN
1                                 0         0                  NaN   NaN
2                            0.0197    0.0197                  NaN   NaN
3                          0.000056  5.59e-05                  NaN   NaN
4                                 0         0                  NaN   NaN
..                              ...       ...                  ...   ...
534                               0         0                  NaN   NaN
535                        0.000807  0.000807                  NaN   NaN
536                               0         0                  NaN   NaN
537                               0         0                  NaN   NaN
538                               0         0                  NaN   NaN

    album_name       album_total_tracks
          self other               self other
0          NaN   NaN                 22    22
1          NaN   NaN                 22    22
2          NaN   NaN                 22    22
3          NaN   NaN                 22    22
4          NaN   NaN                 22    22
..         ...   ...                ...   ...
534        NaN   NaN                NaN   NaN
535        NaN   NaN                NaN   NaN
536        NaN   NaN                NaN   NaN
537        NaN   NaN                NaN   NaN
538        NaN   NaN                NaN   NaN

[539 rows x 18 columns]

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   disc_number                      539 non-null    int64
 1   duration_ms                      539 non-null    int64
 2   explicit                         539 non-null    object
 3   track_number                     539 non-null    int64
 4   track_popularity                 539 non-null    int64
 5   track_id                         535 non-null    object
 6   track_name                       536 non-null    object
 7   audio_features.danceability      538 non-null    object
 8   audio_features.energy            537 non-null    float64
 9   audio_features.key               538 non-null    float64
 10  audio_features.loudness          537 non-null    float64
 11  audio_features.mode              539 non-null    int64
 12  audio_features.speechiness       538 non-null    float64
 13  audio_features.acousticness      539 non-null    object
 14  audio_features.instrumentalness  539 non-null    object
 15  audio_features.liveness          538 non-null    float64
 16  audio_features.valence           539 non-null    float64
 17  audio_features.tempo             539 non-null    object
 18  audio_features.id                539 non-null    object
 19  audio_features.time_signature    538 non-null    float64
 20  artist_id                        539 non-null    object
 21  artist_name                      539 non-null    object
 22  artist_popularity                539 non-null    object
 23  album_id                         539 non-null    object
 24  album_name                       493 non-null    object
 25  album_release_date               539 non-null    object
 26  album_total_tracks               539 non-null    object
dtypes: float64(7), int64(5), object(15)
memory usage: 113.8+ KB

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   disc_number                      539 non-null    int64
 1   duration_ms                      539 non-null    int64
 2   explicit                         539 non-null    object
 3   track_number                     539 non-null    int64
 4   track_popularity                 539 non-null    int64
 5   track_id                         531 non-null    object
 6   track_name                       532 non-null    object
 7   audio_features.danceability      537 non-null    float64
 8   audio_features.energy            537 non-null    float64
 9   audio_features.key               538 non-null    float64
 10  audio_features.loudness          537 non-null    float64
 11  audio_features.mode              539 non-null    int64
 12  audio_features.speechiness       538 non-null    float64
 13  audio_features.acousticness      538 non-null    float64
 14  audio_features.instrumentalness  539 non-null    object
 15  audio_features.liveness          538 non-null    float64
 16  audio_features.valence           539 non-null    float64
 17  audio_features.tempo             538 non-null    float64
 18  audio_features.id                539 non-null    object
 19  audio_features.time_signature    538 non-null    float64
 20  artist_id                        539 non-null    object
 21  artist_name                      539 non-null    object
 22  artist_popularity                539 non-null    int64
 23  album_id                         539 non-null    object
 24  album_name                       477 non-null    object
 25  album_release_date               539 non-null    object
 26  album_total_tracks               539 non-null    object
dtypes: float64(10), int64(6), object(11)
memory usage: 113.8+ KB

In [22]:
print(df1.shape)
print(df2.shape)

(539, 27)
(539, 27)

In [23]:
df1.artist_popularity

0      120
1      120
2      120
3      120
4      120
      ...
534    120
535    120
536    120
537    120
538    120
Name: artist_popularity, Length: 539, dtype: object

In [26]:
df3 = pd.read_csv('data_prueba.csv')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   disc_number                      539 non-null    int64
 1   duration_ms                      539 non-null    int64
 2   explicit                         539 non-null    object
 3   track_number                     539 non-null    int64
 4   track_popularity                 539 non-null    int64
 5   track_id                         531 non-null    object
 6   track_name                       532 non-null    object
 7   audio_features.danceability      537 non-null    float64
 8   audio_features.energy            537 non-null    float64
 9   audio_features.key               538 non-null    float64
 10  audio_features.loudness          537 non-null    float64
 11  audio_features.mode              539 non-null    int64
 12  audio_features.speechiness       538 non-null    float64
 13  audio_features.acousticness      538 non-null    float64
 14  audio_features.instrumentalness  539 non-null    object
 15  audio_features.liveness          538 non-null    float64
 16  audio_features.valence           539 non-null    float64
 17  audio_features.tempo             538 non-null    float64
 18  audio_features.id                539 non-null    object
 19  audio_features.time_signature    538 non-null    float64
 20  artist_id                        539 non-null    object
 21  artist_name                      539 non-null    object
 22  artist_popularity                539 non-null    int64
 23  album_id                         539 non-null    object
 24  album_name                       477 non-null    object
 25  album_release_date               539 non-null    object
 26  album_total_tracks               539 non-null    object
dtypes: float64(10), int64(6), object(11)
memory usage: 113.8+ KB

In [27]:
df2.compare(df3)

Empty DataFrame
Columns: []
Index: []